# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.testing

# Mac OS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo
